@import "./mixins";

.img {
  height: 60rem;
}

.container {
  box-shadow: 0 3px 12px rgba(75, 73, 73, 0.01);
  margin: 3rem 0;
}

.container-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;

  @include responsive(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  & .list-card > * {
    padding-left: 3rem;
  }
}

.rm-bs {
  box-shadow: none;
}

.quotes {
  font-size: 1.5rem;
  & > * {
    border: 0.1px solid hsla(0, 0%, 43.9%, 0.05);
    padding: 1rem;
  }
}
